body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 69px;
  border-bottom: 1px solid seashell;
}


.logo  {
  flex-grow: 1;
  padding: 10px;
  margin: auto;
}

.logo img {
  height: 50px;
}

header a {
  color: seashell;
  text-decoration: underline;
  margin: 10px;
}
